.card{
background-color: whitesmoke;
width: 400px;
height: 600px;
border-radius: 6px;
margin: auto;
border: 1px solid grey;
}
.img{
width: 380px;
height: 250px;
padding: 10px;
border-radius:20px;
}
h2{
color:brown;
text-align: center;
}
p{
    text-align: center;
color:black;
}
button{
width: 150px;
height: 36px;
color: dodgerblue;
background-color: whitesmoke;
border:1px solid dodgerblue;
border-radius:20px;
display: block;
margin: auto;
}
button:hover{
    background-color: darkslateblue;
}
a{
    color: dodgerblue;
}
a:hover{
    color: white;
}